/* @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap'); */

/* Optional: self-hosted Lexend Deca (preferred for offline/privacy).
     To use: download the Lexend Deca family (woff2/woff) from Google Fonts,
     place the files in resources/fonts/lexend-deca/ and keep the filenames
     (or rename them to match the src paths below). If local files are
     missing, the external @import above will act as a fallback. */

@font-face {
    font-family: 'Lexend Deca';
    /* from resources/css/index.css to resources/fonts/... the correct relative path is ../fonts/... */
    src: url('../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    /* variable font weight range (adjust if your file supports different range) */
    font-weight: 100 900;
    font-display: swap;
}

body {
        font-family: 'Lexend Deca', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center; /*for vertical alignment*/
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #ffffff;
        /* overflow: hidden; */
        margin:auto;
}
/* make static */
.container 
{
    width : 535px;
    height: 355px;
    box-shadow: 0px 0px 40px darkgray;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);

}
.container-left
{
    width: 49.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-left img
{
    width: 80%;
    height: auto;
    border-radius: 10px;
}
.container-right
{
    width: 49.5%;
    height: 100%;
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-divider
{
    width: 2px;
    height: 100%;
    background-color: #324E79;
    border-radius: 5px;
    margin: 0 5px;
}
.title
{
    /* border:1px solid black; */
    text-align: center;
    height: 40%;
    width: 90%;
    color: #324E79;
    font-size: 32px;
    font-family: 'Lexend Deca';
    display: flex;
    align-items: center;
    justify-content: center;
}
.username-container
{
    /* border:1px solid black; */
    height:20%;
    width:80%;
    color: #324E79;
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}
.username-container input
{
    height:50px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Lexend Deca';
}
.password-container
{
    /* border: 1px solid black; */
    height:20%; 
    width: 80%;
    color: #324E79;
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}
.password-container input
{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Lexend Deca';
}
.login-container
{
    height: 15%;
    /* border: 1px solid black; */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-button
{
    width: 70px;
    height:25px;
    background-color: #324E79;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Lexend Deca';
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container :hover
{
    background-color: #162233;
}


/* @media screen and (max-width: 400px) 
{
    body
    {
        background-color: #324E79;
    }
    .container
    {
        background-color:navy;
        width: 300px;
        height: 360px;
        flex-direction: row;
    }
    .container-divider
    {
        display: none;
    }
} */