body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;

}
/* make static */
.container 
{
    width : 800px;
    height: 500px;
    box-shadow: 0px 0px 40px darkgray;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-top: 10%;
}

.title 
{
    width: 80%;
    text-align: center;
    font-size: 16px;
    font-family:monospace;
    height: 40%;
}
.userIdTitle
{
    width: 80%;
    height:10%;
    font-size: 12px;
    font-family:monospace;display: flex;
    align-items: center;
    
}
.userIdInput
{
    width: 80%;
    height:13%;
    display: flex;
    align-items: center;
    justify-content: left;
    
}
.userIdInputBox
{
    width: 90%;
    height: 60%;
    border-radius: 5px;
    border:1px solid gray;
}
.userIdInputBox:focus
{
    outline: none;
    border:2px solid rgb(6, 105, 255);
}
.passwordTitle
{
    width: 80%;
    height:10%;
    font-size: 12px;
    font-family:monospace;
    display: flex;
    align-items: center;
}
.passwordInput
{
    width: 80%;
    height:13%;
    display: flex;
    align-items: center;
}
.passwordInputBox
{
    width: 90%;
    height: 60%;
    border-radius: 5px;
    border:1px solid gray;
}
.passwordInputBox:focus
{
    outline: none;
    border:2px solid rgb(6, 105, 255);
}
.loginButton
{
    width: 80%;
    height:10%;
    color: white;
    font-size: 16px;
    cursor: hand;
    display:flex;
    align-items: center;
    justify-content: left;
    cursor: hand;
}
.loginButtonButton
{
    width: 15%;
    height: 100%;
    border: white 1px;
    border-radius: 5px;
    background-color:rgb(6, 105, 255);
    color: white;
    cursor: pointer;
}
.loginButtonButton:hover
{
    background-color: rgb(2, 75, 183);
    cursor: pointer;
}


/*mediaquery----responsive*/

/*apply tailwind???*/