/* @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap'); */

/* Optional: self-hosted Lexend Deca (preferred for offline/privacy).
     To use: download the Lexend Deca family (woff2/woff) from Google Fonts,
     place the files in resources/fonts/lexend-deca/ and keep the filenames
     (or rename them to match the src paths below). If local files are
     missing, the external @import above will act as a fallback. */

@font-face {
    font-family: 'Lexend Deca';
    /* from resources/css/index.css to resources/fonts/... the correct relative path is ../fonts/... */
    src: url('../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    /* variable font weight range (adjust if your file supports different range) */
    font-weight: 100 900;
    font-display: swap;
}

body {
        font-family: 'Lexend Deca', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center; /*for vertical alignment*/
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: whitesmoke;
        /* overflow: hidden; */
        margin:auto;
        min-width: 320px;
}
/* make static */
.container 
{
    width : 500px;
    height: 355px;
    box-shadow: 0px 0px 40px darkgray;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);

}
.container-left
{
    width: 249px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-left img
{
    width: 80%;
    height: auto;
    border-radius: 10px;
}
.container-divider
{
    width: 2px;
    height: 100%;
    background-color: #324E79;
    border-radius: 5px;
    margin: 0 5px;
    box-sizing: border-box;
}

.container-right
{
    width: 249px;
    height: 100%;
    /* border: 1px black solid; */
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    box-sizing: border-box;
}
.title
{
    /* border:1px solid black; */
    text-align: center;
    height: 165px;
    width: 98%;
    color: #324E79;
    font-size: 32px;
    font-family: 'Lexend Deca';
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:1px solid black; */
    
    box-sizing: border-box;
}
.username-container
{
    /* border:1px solid black; */
    height:70px;
    width:100%;
    color: #324E79;
    display: flex;
    flex-direction: column;
    justify-content: left;
    box-sizing: border-box;
    /* border:1px solid black; */
    
}
.username-container p
{
    z-index: 1;
    background-color: white;
    margin-bottom: -10px;
    width:100px;
    /* border:1px solid black; */
    text-align: center;
    margin-left: 5px;
}
.username-container input
{
    height:40px;
    width: 100%;
    border: 1px solid #324E79;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Lexend Deca';
    box-sizing: border-box;
}
.username-container input:focus
{
    outline: 1px solid #ccc;
    box-shadow: #324E79 0px 0px 2px 0px;
}
.password-container
{
    /* border: 1px solid black; */
    height:70px; 
    width: 100%;
    color: #324E79;
    display: flex;
    flex-direction: column;
    justify-content: left;
    box-sizing: border-box;
    /* border:1px solid black; */
    
}
.password-container p
{
    z-index: 1;
    background-color: white;
    margin-bottom: -10px;
    width:100px;
    /* border:1px solid black; */
    text-align: center;
    margin-left: 5px;
}
.password-container input
{
    height:40px;
    width: 100%;
    border: 1px solid #324E79;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Lexend Deca';
    box-sizing: border-box;
}
.password-container input:focus
{
    outline: 1px solid #ccc;
    box-shadow: #324E79 0px 0px 2px 0px;
}
.login-container
{
    box-sizing: border-box;
    height: 30px;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:1px solid black; */
}
.login-button
{
    width: 70px;
    height:25px;
    background-color: #324E79;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Lexend Deca';
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.login-button:hover
{
    background-color: #162233;
    transition: 0.3s ease;
}

.dplogo
{
    display:none;

}

@media  (max-width: 600px) 
{
    
    .container
    {
        background-color:white;
        width: 300px;
        height: 360px;
        flex-direction: column;
    }
    .container-divider
    {
        display: none;
    }
    .container-left
    {
        display: none;
    }
    .dplogo
    {
        width: 300px;
        height:relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dplogo img
    {
        display: absolute;
        width: 70%;
        height: auto;
        margin-top: -200px;
    }
    .container-right
    {
        width: 90%;
    }
    /* .username-container, .password-container
    {
        width: 90%;
    } */

}