@font-face {
    font-family: 'Lexend Deca';
    /* from resources/css/index.css to resources/fonts/... the correct relative path is ../fonts/... */
    src: url('../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    /* variable font weight range (adjust if your file supports different range) */
    font-weight: 100 900;
    font-display: swap;
}



body {
        font-family: 'Lexend Deca', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100vh;
        /* justify-content: center; */
        background-color: whitesmoke;
        /* overflow: hidden; */
        margin:auto;
        min-width: 320px;
}
.navbar
{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    width:100%;
    height: 50px;
    /* border:1px solid black; */
    box-shadow: 0px 0px 5px 0px black;
}
.navBarLogo-container
{
    /* border: 1px solid black; */
    height: inherit;
    width: 150px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.navBarLogo-container img
{
    width: 120px;
}
.navBarLeft-container
{
    display: flex;
    flex-direction: row;
}
.navBarlist
{
    display: flex;
    flex-direction: row;
}

.navBarDashboard-container, .navBarPayroll-container, .navBarOvertime-container, .navBarLeave-container, .navBarRoster-container
{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    /* border:1px solid black; */
    height: inherit;
    color: #324E79;
}

.navBarDashboard-container:hover, .navBarPayroll-container:hover, .navBarOvertime-container:hover, .navBarLeave-container:hover, .navBarRoster-container:hover
{
    cursor: pointer;
    background-color: #324E79;
    color: white;
    transition: 0.3s ease;
}
.navBarRight-container
{   
    /* position:fixed; */
    /* border:1px solid black; */
    /* text-align: center; */
    /* width: 110px; */
    height: inherit;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.navBarLogout-container
{
    font-size: 14px;
    width: 100px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.navBarLogout-button
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.navBarLogout-button
{
    color: #D96C6C;

}
.navBarLogout-button:hover
{
    color: white;
    background-color: #D96C6C;
    transition: 0.3s ease;
    
}

