
body
{
    /* justify-content: center; */
    align-items: center;
}
.payrollTimekeeping-content
{
    position: absolute;
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.payrollTimekeeping-container
{
    width:500px;
    height: 300px;
    border:1px solid black;
}
.container
{
    width: 250px;
}