body
{
    /* background-color: white; */
    
}
.rosterAdd-popUp
{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rosterAddBackground-container
{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: black;
    opacity: 0.4;


}
.rosterAdd-container
{
    z-index: 2;
    position:absolute;
    width: auto;
    /* height: 100vh; */

}
.rosterAdd-form
{

    width: 500px;
    height: 510px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black;  */
    border-radius: 10px;
    background-color: white;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px #324E79;
}
.rosterAdd-form div
{
    width: 90%;
    /* border: 1px solid black; */
    
    height: auto;
}
.rosterAdd-form p
{
    background-color: white;
    font-size: 14px;
    width: auto;
    text-align: left;
    padding-left: 5px;
    height: 15px;
    position: relative;
    margin-bottom: -5px;
    margin-left: 10px;
    color: #324E79;
    

}
.rosterAdd-form input, .rosterAdd-form select
{
    width: 100%;
    height: 35px;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 5px;
    border: #324E79 1px solid;
    color: #324E79;
    
}
.rosterAdd-form input:focus, .rosterAdd-form select:focus
{
    
    outline: #324E79 2px solid;
    box-shadow: inset 0px 0px 2px 0px #1d2d46 ;
}

.rosterAddContactGender-container, .rosterAddDateHiredBirthday-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.rosterAddContactGender-container div ,.rosterAddDateHiredBirthday-container div 
{
    width: 48%;
}





.rosterAddSave-container
{
    width: 100%;
    height: 50px;
    /* border:1px solid black; */
    /* background-color: green; */
    display: flex;
    justify-content: right;
    align-items: center;
}



.rosterAddSave-button
{
    width: 120px;
    height: 40px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid black; */
    margin-right: 5px;
    color: #324E79;
    border-radius: 5px;
    background-color: #ffc62a;
    cursor: pointer;
}
