body
{
    /* background-color: white; */
    
}
.rosterAdd-popUp
{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rosterAddBackground-container
{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: black;
    opacity: 0.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rosterAdd-container
{
    z-index: 2;
    position:absolute;
    width: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rosterAddForm-container
{
    width:100%;
    height:600px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* padding: 5px; */
    text-align: left;
}
.rosterAddSave-container
{
    width: 500px;
    height: 50px;
    /* border:1px solid black; */
    /* background-color: green; */
    display: flex;
    justify-content: right;
    align-items: center;
}
.rosterAddSave-button
{
    width: 120px;
    height: 40px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid black; */
    margin-right: 5px;
    color: #324E79;
    border-radius: 5px;
    background-color: #ffd417;
    cursor: pointer;
}
.rosterAdd-form
{
    display: flex;
    justify-content: center;
    width: 90%;
    /* border: 1px solid black;  */
}
.rosterAddForm-container input
{

    width: 90%;
}
