@font-face {
    font-family: 'Lexend Deca';
    /* from resources/css/index.css to resources/fonts/... the correct relative path is ../fonts/... */
    src: url('../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    /* variable font weight range (adjust if your file supports different range) */
    font-weight: 100 900;
    font-display: swap;
}
body
{
    font-family: 'Lexend Deca';
    display: flex;
    flex-direction: column;
    align-items: center; /*for vertical alignment*/
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: whitesmoke;
    overflow: hidden;
    margin:auto;
    
}
.top-container
{
    width: 800px;
    display:flex;
    
}
.dp_logo
{
    width:225px;
    height: relative;
    margin-bottom: 15px;
    /* border: 1px solid #324E79; */
    /* float: right; */
}   

.dp_logo img
{
    display: absolute;
    width: 90%;
    height: auto;

}


.timekeeping-container
{
    width : 800px;
    height: 550px;
    box-shadow: 0px 0px 40px darkgray;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;;
    background-color: white;
    padding: 10px;
}
.table-container {
    width: 780px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
}

.table-info {
    width: 100%;
    height: 100%;
    /* border: 1px solid black  ; */
    border-collapse: collapse;
    table-layout: fixed;
    
  
    
}

table,th,td
{
    border: 2px solid #324E79;
    /* border-collapse: collapse; */
}
td {
    height: 30px;
    padding: 0;
    font-size: 14px;
}

td p {
    margin: 0;
    padding: 1px;
    color: #324E79;
}
.first-column
{
    width:30%;
}

.divider
{
    height: 32px;
    width:780px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider-line
{
    width: 100%;
    height: 2px;
    background-color: #324E79;
}

.timeInOutApplication-container
{
    width:780px;
    display: flex;
    flex-direction: row;
}
.left-container
{
    width: 452px;
    height: 380px;
    border:2px solid #324E79;
    display: flex;
    flex-direction: row;
}
.timeIn-container
{
    width: 225px;
    height: inherit;
    display:flex;
    flex-direction: column;
    
}
.timeIn-title
{
    height: 45px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #324E79;
    font-size: 16px;
    text-align: center;
}

.timeIn-value
{
    height: 245px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color:#324E79;
}
.timeInbutton-container
{
    height:90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeIn-button
{
    width: 120px;
    height: 40px;
    background-color: #4F8A5B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:none;
    font-size: 14px;
    /* box-sizing: border-box; */
}
.timeIn-button:hover
{
    background-color: #3E6F47;
    
}

.timeInOut-divider
{
    width: 2px;
    height: 100%;
    background-color: #324E79;

}
.timeOut-container
{
    display: flex;
    width:225px;
    height: inherit;
    flex-direction: column;
}

.timeOut-title
{
    height: 45px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #324E79;
    font-size: 16px;
    text-align: center;
}
.timeOut-value
{
    height: 245px;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 64px;
    color: #324E79;
    font-size: 50px;

}
.timeOutbutton-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    /* border: 1px solid; */
}

.timeOut-button
{
    color: white;
    width: 120px;
    background-color: #D96C6C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border:none;
    font-size: 14px;
}
.timeOut-button:hover
{
    background-color: #B84E4E;
    
}




.right-container
{
    width: 312px;
    height: 380px;
    border:2px solid #324E79;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.applyNav-container
{
    width:98%;
    height:45px;
    display:flex;
    flex-direction: row;
    align-items: center;
    border-bottom: #324E79 1px solid;
}
.applyNavOption-container
{
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: row;
    width: 70%;
}
.applyNavOption-container div
{
    width:74px;
    height: 20px;    
    /* border:1px black solid; */
    display: flex; 
    justify-content: center;
    align-items: center;  
    font-size: 11px;
    margin-left: 3px;
    /* border-radius: 5px; */
    cursor: pointer;
}
.applyNavLeave-button
{
    background-color: #7DA3C1;
    color: #324E79;
}
.applyNavOvertime-button
{
    background-color: #324E79;
    color: white;

}
.applyNavRecords-button
{
    background-color: #324E79;
    color:white;
}

.applyNavSubmit-container
{
    width:30%;
    display: flex;
    justify-content: right;
    margin-right: 4px;
}
.applyNavSubmit-button
{
    width: 55px;
    background-color: #4F8A5B;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: white;
    cursor: pointer;
}
.applyLeaveDate-container
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    /* border: 1px black solid; */
}
.applyDateFrom-container,.applyDateTo-container
{
    width: 156px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    align-items: center;
    color: #324E79;
}
.applyDateFrom-container input,.applyDateTo-container input
{
    width: 100%;
    border-radius: 5px;
    /* outline: none; */
    padding:5px 2px;
    color: #324E79;
    font-size: 14px;
    border:2px solid #7DA3C1;

    
}
.applyLeaveForms-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;    
}
.applyLeaveForms-container div
{
    /* height: 27px; */
    /* width: 100%; */
    /* border:1px solid black; */
    display: flex;
    padding:0px;
    /* flex-direction: row; */
    align-items: center;
}

.applyFormsType-container, .applyFormsNoDays-container
{
    height: 27px;
    margin:2px 2px;
}
.applyFormsNoDays-title,.applyFormsType-title
{
    width: 90px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #324E79;
    /* border: 1px solid black; */
}
.applyFormsNoDays-input, .applyFormsType-input
{
    width: 216px;
    /* border: 1px solid black; */
}
.applyFormsNoDays-input input, .applyFormsType-input select
{
    width: 100%;
    padding: 5px;
    margin: 0px 2px;
    border-radius: 5px;
    border: 1px solid #324E79;
    color: #324E79;
    cursor: pointer;

}

.applyFormsReason-container
{
    display: flex;
    flex-direction: column;
    /* border:1px solid black; */
    width: 100%;
    /* background-color: #324E79; */
    /* height: 100px; */
}

.applyFormsReason-title
{
    color: #324E79;
    width: 100%;
    /* border:1px solid black; */
    justify-content: center;
    align-items: center;
    height:27px;
    margin:2px;
}
.applyFormsReason-input
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.applyFormsReason-input input
{
    border-radius: 5px;
    border:0.5px solid #324E79;

    height: 100px;
    font-size: 1em;
    color: #324E79;

    /* width: ; */
}

.applyFormsReason-textArea
{
    width: 286px;
    height: 120px;
    resize:none;
    border:#324E79 1px solid;
    border-radius: 5px;
    font-size: 16px;
    color:#324E79;
    padding: 5px;

}
.logoutbutton-container
{
    width: 776px;
    height: 40px;
    /* border:2px solid black; */
    display: flex;
    justify-content: right;
    /* margin-right: 2px; */
    align-items: center;
}
.logout-button
{
    width: 70px;
    height: 25px;
    background-color: #324E79;
    margin: 0px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    cursor: pointer;

}

/* mobile view */
@media (max-width:600px)
{
    .top-container
    {
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dp_logo
    {
        display: flex;
        /* justify-content: center; */
    }
    .timekeeping-container
    {
        width: 350px;
        height: 580px;
        display: flex;
        align-items: center;
        /* background-color: #324E79; */
    }
    .table-container
    {
        height: 60px;
        width: 324px;
        margin: 5px 0px;
    }
    .table-info
    {
        width: 324px;
        height: 60px;
    }
    td
    {
        height: 20px;
    }
    .divider
    {
        display: none;
    }
    .timeInOutApplication-container
    {
        flex-direction: column;
        width: 320px;

        align-items: center;
        /* border: 1px solid black;
        display: flex; */
    }
    .left-container
    {
        height: 120px;
        width: 320px;
        flex-direction: column;
        margin: 2px 0px;
    }
    .timeIn-container, .timeOut-container
    {
        flex-direction: row;
        height:50%;
        width: 100%;
    }
    .timeIn-value, .timeOut-value
    {
        height:100%;
        font-size: 30px;
        width: 150px;
    }
    .timeIn-title, .timeOut-title
    {
        height:100%;
        width: 90px;
        /* border: 1px black solid; */
    }
    .timeInbutton-container, .timeOutbutton-container
    {
        height:100%;
        width: 80px;
        /* border: 1px solid black; */
    }
    .timeInOut-divider
    {
        /* display: none; */
    }
    .timeIn-button, .timeOut-button
    {
        width: 70px;
        height: 35;
        font-size: 8px;
        border-radius: 2px;
        
        
    }
    .right-container
    {
        width: 320px;
        height: 320px;
        margin-left: 0px;
        margin: 2px 0px;
    }
    .applyNav-container
    {
        width: 100%;
        height: 28px;
    }
    .applyLeaveDate-container
    {
        height: 90px;
    }

    .applyFormsReason-textArea
    {
        height: 80px;
    }
    .logoutbutton-container
    {

        width: 320px;
    }
    .applyDateTo-container, .applyDateFrom-container 
    {
        width: 160px;
    }
}
